<h1>Parcel</h1>

<form action="/result" method="">
  <div class="">
    <label for="">Enter height</label>
    <input type="text" id="h" name="h" value="">
  </div>
  <div class="">
    <label for="">Enter width</label>
    <input type="text" id="w" name="w" value="">
  </div>
  <div class="">
    <label for="">Enter depth</label>
    <input type="text" id="d" name="d" value="">
  </div>
  <div class="">
    <label for="">Enter weigth</label>
    <input type="text" id="weight" name="weight" value="">
  </div>
  <button type="submit" id="send">Submit</button>
</form>
