<header>
  <div class="jumbotron">
    <div class="container">
      <h1>Parcel</h1>
      <p>Send your stuff.</p>
    </div>
  </div>
</header>
<div class="container">
  <div class="col-sm-5 col-sm-offset-2">
    <div class="row">
      <div class="wrapper" style="text-align:center;">
        <h1>Parcel Volume</h1>
        <h2><%= @vol_result %></h2>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="row">
      <div class="wrapper" style="text-align:center;">
        <h1>Cost to Ship Parcel</h1>
        <h2><%= @cost_result %></h2>
      </div>
    </div>
  </div>
</div>
